@font-face {
  font-family: "TTNorms-Light";
  src: url("../fonts/TTNorms-Light.otf") format("opentype"), url("../fonts/TTNorms-Light.eot") format("eot"), url("../fonts/TTNorms-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "TTNorms-Regular";
  src: url("../fonts/TTNorms-Regular.woff") format("woff"), url("../fonts/TTNorms-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "TTNorms-Medium";
  src: url("../fonts/TTNorms-Medium.woff") format("woff"), url("../fonts/TTNorms-Medium-500.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "TTNorms-Bold";
  src: url("../fonts/TTNorms-Bold.woff") format("woff"), url("../fonts/TTNorms-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/Intro.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Helios";
  src: url("../fonts/HeliosCondThin.eot") format("embedded-opentype");
  src: url("../fonts/HeliosCondThin.woff") format("woff"), url("../fonts/HeliosCondThin.otf") format("opentype");
  font-style: normal;
  font-weight: 100;
}
