@media screen and (max-width: 992px)
	.table
		&-info
			&__title
				label
					&:hover
						width 14px
						padding 0
						color transparent

@media screen and (max-width: 700px)
	.table
		&-col
			&:nth-child(2)
				padding-right 27px
			&:nth-child(3), &:nth-child(4)
				display none