.header

.table
	.table-title
		img(src="../img/title.jpg")
		| people

	.table-body
		.table-head
			.table-col
			.table-col Ideas
			.table-col Following
			.table-col Followers

		.table-row
			.table-col
				img(src="./img/stub.jpg")
				.table-info
					.table-info__title John Adams
						input(type="checkbox" id="follow1")
						label(for="follow1") Follow
						label(for="follow1") Unfollow
					.table-info__count
						img(src="./img/rate.jpg")
						| 102
			.table-col 0
			.table-col 50
			.table-col 220

		.table-row
			.table-col
				img(src="./img/stub.jpg")
				.table-info
					.table-info__title Stan Minton
						input(type="checkbox" id="follow2")
						label(for="follow2") Follow
						label(for="follow2") Unfollow
					.table-info__count
						img(src="./img/rate.jpg")
						| 102
			.table-col 56442
			.table-col 51
			.table-col 2440

		.table-row
			.table-col
				img(src="./img/stub.jpg")
				.table-info
					.table-info__title James Madison
						input(type="checkbox" id="follow3")
						label(for="follow3") Follow
						label(for="follow3") Unfollow
					.table-info__count
						img(src="./img/rate.jpg")
						| 4342
			.table-col 33
			.table-col 21
			.table-col 3


	.table-showbtn show more

.footer